.products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.products-header {
  display: flex;
  align-items: end;
  gap: 1em;
}
