.product-details-image {
  width: 100%;
  height: 40vh;
  object-fit: contain;
  margin-bottom: 2em;
  border-bottom: 5px solid var(--color-border);
}

.product-details-description {
  border: 3px solid var(--color-border);
  border-radius: 20px;
  padding: 1em;
  grid-column: 1/-1;
}

.product-details-qrcode {
  width: 150px;
  height: 150px;
  margin: auto;
}

.image-slider-column,
.reviews-column {
  grid-column: 1/-1;
}
